/* using line-hight */
.small{
    line-height: 0.7;
    color: crimson;
    word-spacing: 15px;
    text-align: left;
    font-weight: 400;
}
.big{
    line-height:2.8 ;
    color: blue;
    word-spacing:10px;
    text-shadow: 2px 2px 5px yellow;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;

}
body{
    background-color:black;
}