.jesus{
    border-style: none;
    border-bottom: 1px solid black; 
}
.text{
    border-style: none;
    border-bottom: 1px solid black; 
}
.just{
    border-style: none;
    border-bottom: 1px solid black; 
}
.tell{
    border-style: none;
    border-bottom: 1px solid black; 
}
.cell{
    border-style: none;
    border-bottom: 1px solid black; 
}
.kk{
    border-style: none;
    border-bottom: 1px solid black; 
}
